<section class="section">
    <div class="container">
      <h1 class="title">Editing User #{{ userId }}</h1>
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="field">
          <label class="label">Username</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Text input" formControlName="username" [ngClass]="{ 'is-danger': submitted && f.username.errors }">
          </div>
          <p class="help is-danger" *ngIf="submitted && f.username.errors">Username is required. Make sure you do not use space, underscore or period. Length: 4-20</p>
        </div>

        <!-- <div class="field">
          <label class="label">Role</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Text input" formControlName="role" [ngClass]="{ 'is-danger': submitted && f.role.errors }">
          </div>
          <p class="help is-danger" *ngIf="submitted && f.username.errors">Role is required</p>
        </div> -->


        <div class="field">
          <label class="label">Role</label>
          <div class="control has-icons-left has-icons-right">
            <div class="select" [ngClass]="{ 'is-danger': submitted && f.role.errors }">
              <select formControlName="role" (change)="updateRole($event)">
                <option [value]="0">VIEWER</option>
                <option [value]="1">EDITOR</option>
                <option [value]="2">ADMIN</option>
              </select>
            </div>
          </div>
          <p class="help is-danger" *ngIf="submitted && f.role.errors">Select at least one role</p>
        </div>

        <div class="container">
            <button type="submit" class="button is-info">Submit</button>
        </div>
      </form>
    </div>
  </section>
